p.wrong, .validate {
    display: none;
}

p.wrong.shake {
    display: block;
}

p.wrong.shake {
    animation: shake .4s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(1px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

.controls img {
    height: 30px;
}

.refresh {
    background: transparent;
    outline: none;
}
.user-text{
    height: 34px;
    padding-left: 10px;
    outline: none;
}
#captcha-follow .user-text{
    height: 42px;
    background: #fff;
}
#captcha-follow .controls img {
    height: 36px;
}
#captcha-follow .refresh {
    background: #fff;
}
.article-follow .user-text{
    background: none !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
.captcha-chat {
    margin-bottom: 30px;
}
.wrong {
    color: red;
}